APScheduler==3.9.1
attrs==21.4.0
backports.zoneinfo==0.2.1
bidict==0.21.4
cached-property==1.5.2
cachelib==0.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
clickclick==20.10.2
configparser==5.2.0
connexion==2.12.0
Flask==2.0.3
Flask-Session==0.4.0
Flask-SocketIO==5.1.1
idna==3.3
importlib-resources==5.4.0
inflection==0.5.1
itsdangerous==2.1.0
Jinja2==3.0.3
jsonschema==4.4.0
lxml==4.8.0
MarkupSafe==2.1.0
mysqlclient==2.1.0
parsedatetime==2.6
pathlib==1.0.1
poker==0.30.0
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-engineio==4.3.1
python-socketio==5.5.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.4.1
requests==2.27.1
six==1.16.0
sortedcontainers==2.4.0
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.8
Werkzeug==2.0.3
zipp==3.7.0
zope.interface==5.4.0
