.footer{
    /* margin-top: 1rem; */
    /* padding: 1rem; */
    /*position: static; */
    /* bottom: 0;
    left: 0; */
    height: 4%;
    width: 100%;
    background-color: transparent;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1rem;

    margin-top: 1%;
    position: fixed;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

.copyrights {
    margin-right: 15rem;
    left: 0;
}

.privacy-service {
    margin-left: 7rem;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

.privacy-service a{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0 0.7rem;
}
