.header {
    height: 4%;
    width: 100%;
    padding-bottom: .5rem;
    background-color: #25262A;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
}

.other-links {
    margin-left: auto;
    margin-right: 9rem;
    margin-top: 1.3rem;
}

.logo {
    height: 34px;
    width: 72px;
    margin-left: 9rem;
    margin-top: 1rem;
}

.other-links a {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navigate, .navigate>a {
    margin: 1.3rem;
    color: white;
    text-decoration: none;
}

a.focused {
    color: #FFC728;
    text-decoration: underline;
}

.header-right {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
}

button.header-registerbtn {
    border-radius: 6px;
    background: #FFC728;
    width: 7rem;
    border: hidden;
    color: #25262A;
    font-size: 1rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-top: .8rem;
}

button.header-loginbtn {
    background: transparent;
    border: hidden;
    width: 120px;
    color: white;
    right: 0;
    margin-right: 1.3rem;
    margin-top: .8rem;

    padding: 1rem 0.8rem;
}
