
.header {
    height: 4%;
    width: 100%;

    margin-bottom: 3%;
    display:flex; 
    flex-direction: row; 
}

.other-links{
    margin-left: auto; 
    margin-right: 150px;
    margin-top: 15px;
}

.logo{
    height: 34px;
    width: 72px;
    margin-left: 150px;
    margin-top: 15px;
}

.other-links a{
    margin-left: 10px;
    margin-right: 10px;
}

.navigate, .navigate>a {
    margin: 20px;
    color: white;
    text-decoration: none;
}

a.focused {
    color: #FFC728;
    text-decoration: underline;
}

button.registerbtn {
    background: #FFC728;
    width: 10%;
    border: hidden;
    color: #25262A;
    line-height: 30%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 13px;
    
}

button.loginbtn {
    background: transparent;
    border: hidden;
    width: 10%;
    color: white;
    line-height: 30%;
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 13px;
}

button {

}
