.header {
    height: 4%;
    width: 100%;

    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
}

.other-links {
    margin-left: auto;
    margin-right: 150px;
    margin-top: 15px;
}

.logo {
    height: 34px;
    width: 72px;
    margin-left: 150px;
    margin-top: 15px;
}

.other-links a {
    margin-left: 10px;
    margin-right: 10px;
}

.navigate, .navigate>a {
    margin: 20px;
    color: white;
    text-decoration: none;
}

a.focused {
    color: #FFC728;
    text-decoration: underline;
}

.header-right {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
}

button.header-registerbtn {
    background: #FFC728;
    width: 120px;
    border: hidden;
    color: #25262A;
    line-height: 30%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 13px;
    padding: 16px 13px;
}

button.header-loginbtn {
    background: transparent;
    border: hidden;
    width: 120px;
    color: white;
    line-height: 30%;
    right: 0;
    margin-right: 20px;
    margin-top: 13px;

    padding: 16px 13px;
}

button {}