.next-round-timer {
    color: white;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1rem 0;
    background: #1A1A1C;
    /* Secondary/Light */

    border: 1px solid #3D3E40;
    box-sizing: border-box;
    box-shadow: 0px 4px 56px 18px rgba(103, 103, 103, 0.11);
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.next-round-header{
    display: flex;
    flex-direction: row;
}

.next-round-header .bigger {
    font-size: 2rem;
}

.next-round-header>img {
    max-width: 80%;
    max-height: 80%;
}

.stake-start-buttons{
    display: flex;
    flex-direction: row;
}

.stake-start-buttons>.start-button {
    font-size: 1.5rem;
    background: #FFC728;
    border-radius: 8px;
    padding: 1rem 2rem;
    margin: 1rem;
}

.stake-start-buttons>.stake-all-button {
    font-size: 1.5rem;
    color: #FFC728;
    border-radius: 8px;
    border-color: #FFC728;
    padding: 1rem 2rem;
    background: None;
    width: 15rem;
    margin: 1rem;
}

.countdown-timer{
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
}

.countdown-timer>*{
    margin: 0 .3rem;
}