@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.players-table {
    width: 100%;
    justify-content: center; 
    align-items: center;
    margin-top: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    background: #4C4F58;

}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    color: #B9BABC;
}

td {
    color: white;
}


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination>p {
    margin: 20px;
    padding: 6px;
    border-radius: 2px;
    color: white;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.pagination>p:not(.dots, .all-pages):hover {
    background: #363942;
    cursor: pointer;
}