.upper-number-box {
    margin-top: .3rem;
    font-family: 'Josefin Sans';
    font-size: 1.3rem;
    background: rgba(255, 199, 40, 0.05);
    border: 1px solid #FFC728;
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    width: 3rem;
    height: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-type-box {
    background: #FFC728;
    color: black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 3rem;
    height: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-family: 'Josefin Sans';
    color: #25262A;
}