.container {
    padding-left: 25%;
    width: 50%;
}

input[type=text] {
    width: 98%;
    padding: 15px 1%;
    display: inline-block;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

.registerbtn {
    background-color: #04AA6D;
    width: 100%;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}
