@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  text-align: center;
}

h1 {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}

h2 {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

h3 {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
}

h4 {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

h5 {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}

h6, button {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}

.body-large {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.body-small {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.caption {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.overline {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

input {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

a.big-link {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

a.small-link {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

a.special-link {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.yellow{
  color: #FFC728;
}

.white{
  color: white;
}